<html>
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        google.charts.load('current', {packages: ['wordtree']});
        google.charts.setOnLoadCallback(main);

        function main(bigrama) {
            url_busca = 'http://127.0.0.1:5000/consultar';
            palavraDestacada = 'pretos';

            if (bigrama) {
                url_busca += '/' + bigrama;
                palavraDestacada = bigrama;
            }

            fetch(url_busca)
                .then(res => {
                    return res.json();
                })
                .then(conteudo => {
                    const postagens = conteudo.Post;
                    console.log("Montando árvore de palavras");
                    plotData(postagens.join(), palavraDestacada);
                })
        }

        function plotData(postagens, palavra) {
            const data = google.visualization.arrayToDataTable(
                [['Phrases'], [postagens]]
            );

            const options = {
                wordtree: {
                    format: 'implicit',
                    type: 'double',
                    word: palavra
                }
            };

            wordtree = new google.visualization.WordTree(document.getElementById('wordtree_double'));

            // consulta o servidor pela palavra selecionada na árvore
            function consultarPalavra() {
                const palavraSelecionada = wordtree.getSelection();
                if (palavraSelecionada) {
                    console.log(palavraSelecionada.word)
                    const palavra = palavraSelecionada.word;
                    console.log('Palavra selecionada: ' + palavra);
                    main(palavra);
                }
                else {
                    console.log('Deu algo errado');
                }
            }

            // Adicionamos o evento ready para indicar que o elemento terá eventos que nos interessa
            google.visualization.events.addListener(wordtree, 'ready', () => {});
            // o evento 'select' é ativado quando se clica em uma palavra
            google.visualization.events.addListener(wordtree, 'select', consultarPalavra);

            wordtree.draw(data, options);
        }
    </script>
</head>
<body>
<div id="wordtree_double" style="width: 1600px; height: 700px;"></div>
</body>
</html>